<html>
  <head>
    <title>遅延なう</title>
    {% include 'meta.html' %}
  </head>
  <body>
    <div id="header">
       Login | <a href="/iphone">iPhoneアプリ</a> | <a href="/mixi">mixiアプリ</a><br />
    <iframe scrolling="no" frameborder="0" allowTransparency="true" style="overflow:hidden; border:0; width:80px; height:20px" src="http://plugins.mixi.jp/favorite.pl?href=http%3A%2F%2Fchien-info.appspot.com%2F&service_key=f920fc8ef7f807136f3250131983d16ddf7cef4e&show_faces=true&width=100"></iframe><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fchien-info.appspot.com%2F&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
    </div>
    <center><h1><font size="+8">"遅延なう"</font><font size="+1">へようこそ!!</font></h1></center>
    <div id="main">
      <h2>JR東日本</h2>
      <span class="page"><a href="/page/東海道線">東海道線</a></span>
      <span class="page"><a href="/page/山手線">山手線</a></span>
      <span class="page"><a href="/page/中央線">中央線</a></span>
      <span class="page"><a href="/page/京浜東北線">京浜東北線</a></span>
      <span class="page"><a href="/page/横須賀線">横須賀線</a></span>
      <span class="page"><a href="/page/根岸線">根岸線</a></span>
      <span class="page"><a href="/page/南部線">南部線</a></span>
      <span class="page"><a href="/page/京葉線">京葉線</a></span>
      <span class="page"><a href="/page/埼京線">埼京線</a></span>
      <span class="page"><a href="/page/総武線">総武線</a></span>
      <h2>東急</h2>
      <span class="page"><a href="/page/東横線">東急東横線</a></span>
      <span class="page"><a href="/page/大井町線">東急大井町</a></span>
      <span class="page"><a href="/page/田園都市線">東急田園都市線</a></span>
      <span class="page"><a href="/page/目黒線">東急目黒線</a></span>
      <h2>東京メトロ</h2>
      <span class="page"><a href="/page/銀座線">銀座線</a></span>
      <span class="page"><a href="/page/丸ノ内線">丸ノ内線</a></span>
      <span class="page"><a href="/page/日比谷線">日比谷線</a></span>
      <span class="page"><a href="/page/有楽町線">有楽町線</a></span>
      <span class="page"><a href="/page/千代田線">千代田線</a></span>
      <span class="page"><a href="/page/半蔵門線">半蔵門線</a></span>
      <h2>京急</h2>
      <span class="page"><a href="/page/京急">京急本線</a></span>
      <span class="page"><a href="/page/京急大師線">京急大師線</a></span>
      <h2>小田急</h2>
      <span class="page"><a href="/page/小田急線">小田急線</a></span>
      <span class="page"><a href="/page/小田原線">小田急小田原線</a></span>
      <span class="page"><a href="/page/多摩線">小田急多摩線</a></span>
      <span class="page"><a href="/page/江ノ島線">小田急江ノ島線</a></span>
    </div>
    <div id="main">
      {% include 'adsense.html' %}
    </div>
    <div id="main">
    {% for param in params %}
    <div id="item">
      <span class="buddy"><img src="{{ param.img }}" align="left" /></span>
      <span class="name"><a href="{{ param.uri }}" target="_blank">{{ param.name }}</a></span>
      <span class="coment">{{ param.content }}</span><br />
      <span class="time">{{ param.time }}</span><br clear="left" />
    </div>
    {% endfor %}
    </div>
    {% include 'footer.html' %}
  </body>
{% include 'analytics.html' %}
</html>
