<html>
  <head>
    <title>遅延なう / mixiアプリでの閲覧</title>
    {% include 'meta.html' %}
  </head>
  <body>
    <center><h1><font size="+8">"遅延なう"</font><font size="+1">へようこそ!!</font></h1></center>
    <div id="main">
      <h2>mixiアプリでの閲覧方法</h2>
      <div id="manual">
      <p><a href="http://mixi.jp/view_appli.pl?id=15544" target="_blank">mixiアプリのページ</a>にアクセスし、"今すぐはじめる"をクリックし承認がおりれば利用開始になります。</p>
      <img src="/img/appli_run.png" width="600px"/>
      <p>自分のホーム画面にも登録できます。</p>
      <img src="/img/home_box.png" />
    </div>
      </div>
    {% include 'footer.html' %}
  </body>

</html>
